$primary-color: #DCB33E;
$secondary-color: #E1724C;
$accent-color: #FFDAD0;
$font-color: #000000;
$font-default-color: #fff;
$border-color: #DCB33E;
$font-weight: ( "regular": 400, "medium": 500, "bold": 900, );
$vertical-padding: 4rem 0;
$assetPath: "../webImages";