@font-face {
    font-family: 'Ginger';
    src: url('Ginger-Regular.woff2') format('woff2'),
        url('Ginger-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

